
.border{
    border-style: groove;

}

.col_der{
    
    border-style: groove;

}

.col_cen{
    
    border-style: groove;

}

.col_izq{
    
    border-style: groove;

}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
  grid-template-rows: auto 100px auto;
}
.div_form{
    border-style: groove;
    width: 200px;
    margin: auto;  
    padding: 20 20;
}
.button_form{
    width: 200px;
    padding-top: 20px;
}
.label_form{
    color:aliceblue;
    text-align:center;
}
.header{
    border-style: groove;
    height: 77px;
}
.footer{
    border-style: groove;
    height: 76px;
}
.img{
width: 100px;
height: 100px;
   
}
.img_box{   
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 20px;
  
}