
.border{
    border-style: groove;

}

.col_der{    
border-style: groove;
background-color: white;
color:black;

}

.col_cen{
    
    border-style: groove;

}

.col_izq{
    
    border-style: groove;

}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: black;
  padding-bottom: 10px;
padding-top: 10px;  
  grid-template-rows: auto auto auto;
  color:white;
  
}
.div_form{
    border-style: groove;
    width: 200px;
    margin: auto;  
    padding: 20 20;
}
.button_form{
    width: 200px;
    padding-top: 20px;
    align-items: center;
}

.label_form{
    color:aliceblue;
    text-align:center;
}
.header{
    border-style: groove;
    height: 30px;
}
.footer{
    border-style: groove;
    height: 28px;
}
.img{
width: 100px;
height: 100px;
   
}
.img_box{   
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 20px;
  
}
.table-productos{
    width: 10%;
    border: 1px solid white;
    background-color:white;
    
}


